::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb
{
	background-color: #C0392B;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h2 {
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

.navbar {
  padding: 0 0;
}

.top-navbar {
  font-weight: 700;
}

.bottom-navbar {
  background-color: #C0392B;
  font-weight: 700;
}

nav img {
  width: 70%;
}

.btn {
  font-weight: bold;
}

/* CAROUSEL */
.carousel-img-mobile {
  position: absolute;
  visibility: hidden;
}

.carousel-button {
  background-color: #C0392B;
  border-radius: 25%;
}

/* FEATURED PRODUCT */

@media screen and (max-width: 700px) {
  .featured-image {
    float: left;
  }

  .navbar {
    text-align: center;
  }

  .carousel-img-desktop {
    visibility: hidden;
    position: absolute;
  }

  .carousel-img-mobile {
    visibility: visible;
    position: relative;
  }
}

.featured-product {
  padding: 3% 15%;
}

.featured-image {
  width: 100%;
}

.featured-item {
  padding: 5px;
  transition: transform 1s;
}

.featured-item:hover {
  transform: scale(1.02);
}

.product-name h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.product-list {
  padding: 10px 10px;
  background-color: #F6DDCC;
}

.product-desc {
  color: #808080;
  font-size: 0.9rem;
}

.product-price {
  padding-top: 15px;
  font-size: 1.5rem;
  font-weight: 900;
  color: red;
}

/* Promo */
.promo-list {
  padding: 3% 15%;
  background-color: #FBFBFB;
}

.promo-item {
  padding: 12px;
}

/* Visit section */
.visit-section {
  background-color: #C0392B;;
  text-align: center;
  padding: 5% 15%;
}

.visit-btn {
  background-color: #F4D03F;
}

/* Registration  */

.registration-section {
  padding: 3% 15%;
}

.registration-image-out {
  text-align: center;
}

.registration-img {
  width: 50%;
}

.registration-btn {
  background-color: #F4D03F;
  margin: 15px auto;
}

@media screen and (max-width: 700px) {
  .registration-section {
    text-align: center;
  }
}

/* SOCIAL MEDIA SECTION */

.sosmed-section {
  background-color: #FBFBFB;
  padding: 3% 15%;
  text-align: center;
}

.footer-favicon {
  padding: 10px 10px;
  color: #C0392B;
  font-size: 1.5rem;
}

i:hover {
  color: black;
}

.copyright-footer {
  background-color: #C0392B;
  padding: 1% 15%;
  text-align: center;
  color: #fff;
}

.footer-wrd {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
	margin: 0 auto 30px;
	color: #C0392B;
}
